<ion-header>
  <ion-toolbar class="header">
    <ion-title>Listado de Tareas</ion-title>

    <ion-buttons slot="end" >
      <ion-button (click)="toggleTheme()"  aria-label="Cambiar tema">
        <ion-icon
          slot="icon-only"
          [name]="isDark ? 'moon' : 'sunny'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">
      Gestiona y visualiza el estado de todas tus tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-gray-100 dark:bg-gray-900">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateTask()" aria-label="Crear nueva tarea">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-container *ngIf="visibleTasks.length; else loading">
    <div class="space-y-3">
      <app-task-item
        *ngFor="let task of visibleTasks"
        [task]="task"
        (toggle)="onToggleStatus($event)"
        (click)="openTaskDetail(task.id)"
      >
      </app-task-item>
    </div>
    <ion-infinite-scroll
      (ionInfinite)="loadMore($event)"
      threshold="120px"
      [disabled]="allLoaded"
    >
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Cargando más tareas...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

  <ng-template #loading>
    <ion-spinner class="block mx-auto mt-10"></ion-spinner>
  </ng-template>
</ion-content>
