<ion-header>
  <ion-toolbar>
    <ion-title>
      <p>Detalle de Tarea</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="task">
    <ion-card-header>
      <ion-card-title>{{ task.title | capitalize }}</ion-card-title>

      <div class="subtitle">
        <b>#{{ task.id }}</b>

        <ion-chip [color]="task.completed ? 'success' : 'warning'">
          {{ task.completed ? "Completada" : "Pendiente" }}
        </ion-chip>
      </div>
    </ion-card-header>
      <br>
    <ion-card-content>
      <div class="chip-order">
        <ion-chip>ID Usuario: {{ task.userId }} </ion-chip>
        <ion-chip>Creada el 02 Feb. 2026 </ion-chip>
      </div>

      <ion-button
        expand="block"
        class=""
        (click)="toggleStatus()"
        [ngClass]="task.completed ? 'gray-custom' : 'green-custom'"
      >
        Marcar como {{ task.completed ? "Pendiente" : "Completada" }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
